.sort-price {
    position: relative;
    padding: 6px 8px;
    background-color: #fff;

    cursor: pointer;
    border: 1px solid #eee;
    width: 180px;
}

.sort-price-title {
    display: flex;
    align-items: center;
}

.sort-price-label {
    width: 100%;
}

.sort-price-icon {
    font-size: 1.4rem;
}

.sort-price-list {
    position: absolute;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.26);

    width: 180px;
    left: -10px;
    top: 4px;
    background: white;
    padding: 0.5rem;

    z-index: 999;
}
.sort-price-list-item {
    padding: 0.3rem 1rem;
    color: #333;
    font-size: 1.6rem;
    cursor: pointer;
}
.sort-price-list-item:hover span {
    color: #d70018;
    transition: 0.3s;
}
